<h1><%= @artist.name %></h1>
<%= link_to 'Songs', artist_songs_path(@artist) %>
<ul>
  <% @artist.songs.each do |song| %>
    <li><%= link_to song.title, artist_song_path(song) %></li>
  <% end %>
</ul>
